/*
* Semantic UI Segments
*/

$background: white;
$boxShadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
$margin: 10px;
$padding: 10px;
$borderRadius: 0px;
$border: 1px solid rgba(34, 36, 38, 0.15);
$borderWidth: 1px;
$borderColor: rgba(34, 36, 38, 0.15);
//
//$pageGridMargin: 10px;
//$piledMargin: 5px;
//$piledBoxShadow: 2px 0 0 rgba(0,0,0,0.5);
//$piledZIndex: 1;
//$piledBorder: 1px solid #ccc;
//$piledDegrees: 12deg;
//
//$coloredBorderSize: 2px;
//$floatedDistance: 10px;
//
//$black: black;
//$white: white;
//$grey: grey;
//$brown: brown;
//$red: red;
//$orange: orange;
//$yellow: yellow;
//$olive: olive;
//$green: green;
//$teal: teal;
//$blue: blue;
//$purple: purple;
//$violet: violet;
//$pink: pink;
//
//$attachedHorizontalOffset: x;
//$attachedWidth: x;
//$attachedBoxShadow: x;
//$attachedBorder: x;
$attachedTopOffset: 0;
$attachedBottomOffset: 0;
$attachedBottomBoxShadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), none;
//
$stackedPadding: 1.4em;
$stackedHeight: 5px;
$stackedPageBackground: rgba(0, 0, 0, 0.03);
//
//$subtleTransparentBlack
//
//$selectedBorderColor
//
//$paddedSegmentPadding
//$veryPaddedSegmentPadding
//
//$circularPadding
//
$raisedBoxShadow: 0 0 2px rgba(0,0,0,0.5);
//
$groupedMargin: 1rem 0em;
$groupedBorder: 1px solid rgba(34, 36, 38, 0.15);
$groupedBoxShadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
$groupedBorderRadius: 0;
//
$groupedSegmentMargin: 0;
$groupedSegmentWidth: auto;
$groupedSegmentBoxShadow: none;
$groupedSegmentBorder: none;
$groupedSegmentDivider: 1px solid rgba(34, 36, 38, 0.15);
//
$nestedGroupMargin: 1rem 1rem;
//
//$disabledOpacity
//$disabledTextColor
//
//$loaderDimmerColor
//$loaderDimmerZIndex
//
//$loaderMargin
//$loaderSize
//$loaderSpeed
//
//$circularRadius
//
//$loaderLineColor
//$loaderFillColor
//$loaderLineWidth
//
//$loaderLineZIndex
//
//
//$basicBackground
//$basicBoxShadow
//$basicBorder
//$basicBorderRadius
//
//
//$invertedBackground
//$invertedTextColor
//
//$textColor
//
//$solidWhiteBorderColor
//
//
//$secondaryBackground
//$secondaryColor
//
//
//$secondaryInvertedBackground
//$secondaryInvertedColor
//
//
//$tertiaryBackground
//$tertiaryColor
//
//$tertiaryInvertedBackground
//$tertiaryInvertedColor
//
//
//$verticalMargin
