{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "globals": {
    "BACKEND_URL": true,
    "MEDIA_URL": true,
    "LOGIN_URL": true
  },

  "env": {
    "browser": true
  },
  "rules": {
    "curly": ["error", "all"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }],
    "max-len": ["error", 100],
    "indent": ["error", 4, {"SwitchCase": 1}],
    "quotes": ["error", "single"],
    "no-plusplus": ["error", {"allowForLoopAfterthoughts": true}],
    "react/forbid-prop-types": [false],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "jsx-a11y/no-static-element-interactions": [false],
    "jsx-a11y/click-events-have-key-events": [false],
    "jsx-a11y/anchor-is-valid": ["error", {
      "components": ["Link"],
      "specialLink": ["to", "hrefLeft", "hrefRight"],
      "aspects": ["noHref", "invalidHref", "preferButton"]
    }]
  }
}
