.PageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.PageHeader__Brackets{
    display: flex;
    align-items: center;
}


.pageName {
    margin: 0 10px;
}
.bx--dropdown--wrapper {
    width: 180px;
    margin: 10px;
}
.bx--dropdown {
    margin: 0 20px;
}

.bx--list-box__menu {
    max-height: 90vh;
}

.icon-test {
    height: 70px;
    width: 82px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    text-indent: -9999px;
}
