.Card {
  display: inline-flex;

  > .ui.segments {
    border-radius: 15px;

    > .ui.segment {
      &:first-child {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-color: red;
      }

      &:last-child {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
  }
}

.deck {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
