/*!
 * # Semantic UI - Segment - Custom adjustments
 */

@import '../../_settings/_variables_semantic.scss';

/*******************************
            Header
*******************************/

.ui.segment[class*="segment__header"] {
  background: #efefef;
}

.ui.segment[class*="header--attention"] {
  border-left: 4px solid $red;
}

.ui.segment[class*="header--success"] {
  border-left: 4px solid $green;
}

.segment__header__date {
  float: right;
}
